JWT_SECRET=minimo_16_caracteres_troque_este_valor
ADMIN_EMAIL=angelafalmeida@uol.com.br
ADMIN_DISPLAY_NAME=Dra. Angela

# Gerado com: node scripts/hash-password.js "erica34"
ADMIN_PASSWORD_HASH=$2b$10$RmmSlYD1Vycabk4/33/WEOjKCvvEYwqtjWH4UgjeH.d0VVgRNIzKK

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=AFA
